<div class="col-lg-3 my-lg-0 my-md-1">
    <div id="sidebar" style="background-color: #222;">
        <div class="h4 text-white">Account</div>
        <ul>
            <li {{#if myacc}}class="active" {{/if}}>
                <a href="/myaccount" class="text-decoration-none d-flex align-items-start">
                    <div class="fas fa-box pt-2 me-3"></div>
                    <div class="d-flex flex-column">
                        <div class="link">My Account</div>
                        <div class="link-desc">View & Manage orders and returns</div>
                    </div>
                </a>
            </li>
            <li {{#if order}}class="active" {{/if}}>
                <a href="/myaccount/orders" class="text-decoration-none d-flex align-items-start">
                    <div class="fas fa-box-open pt-2 me-3"></div>
                    <div class="d-flex flex-column">
                        <div class="link">My Orders</div>
                        <div class="link-desc">View & Manage orders and returns</div>
                    </div>
                </a>
            </li>
            <li {{#if addr}}class="active" {{/if}}>
                <a href="/myaccount/manage-address/" class="text-decoration-none d-flex align-items-start">
                    <div class="far fa-address-book pt-2 me-3"></div>
                    <div class="d-flex flex-column">
                        <div class="link">Address Book</div>
                        <div class="link-desc">View & Manage Addresses</div>
                    </div>
                </a>
            </li>
            <li {{#if myprofile }}class="active" {{/if}}>
                <a href="/myaccount/myprofile" class="text-decoration-none d-flex align-items-start">
                    <div class="far fa-user pt-2 me-3"></div>
                    <div class="d-flex flex-column">
                        <div class="link">My Profile</div>
                        <div class="link-desc">Change your profile details & password</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>