{{>user/header-v4}}
<section style="background-color: #fff;">
    <div class="container-fluid py-5">
        <div class="row">
            {{>user/myprofile-menu}}
            <div class="col mt-2">
                <div class="card p-5">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p class="text-center">Use the form below to change your password. Your password cannot be
                                the same as your username.</p>
                            <form id="passwordForm">
                                <input type="password" onchange="checkIsPassValid()" class="input-md mb-4 form-control"
                                    name="cr-password" id="cr-password" placeholder="Current Password"
                                    autocomplete="off">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <p id="err-line" class="text-danger"></p>
                                    <a href="/myprofile/forgot-password">forgot password?</a>
                                </div>
                                <input type="password" class="input-md mb-3 form-control" name="password1"
                                    id="password1" placeholder="New Password" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span id="8char" class="glyphicon glyphicon-remove"
                                            style="color:#4365d4;"></span> 8
                                        Characters Long<br>
                                        <span id="ucase" class="glyphicon glyphicon-remove"
                                            style="color:#4365d4;"></span>
                                        One Uppercase Letter
                                    </div>
                                    <div class="col-sm-6">
                                        <span id="lcase" class="glyphicon glyphicon-remove"
                                            style="color:#4365d4;"></span>
                                        One Lowercase Letter<br>
                                        <span id="num" class="glyphicon glyphicon-remove mb-3"
                                            style="color:#4365d4;"></span>
                                        One Number
                                    </div>
                                </div>
                                <input type="password" class="input-md form-control mb-3" name="password2"
                                    id="password2" placeholder="Repeat Password" autocomplete="off">
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <span id="pwmatch" class="glyphicon glyphicon-remove"
                                            style="color:#4365d4;"></span>
                                        Passwords Match
                                    </div>
                                </div>
                                <input type="button" onclick="changePass()"
                                    class="col-xs-12 btn btn-primary btn-load btn-lg"
                                    data-loading-text="Changing Password..." value="Change Password">
                            </form>
                        </div>
                        <!--/col-sm-6-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/user/javascript/change-pass.js"></script>

<script>
    let isValid = false;
    function checkIsPassValid() {
        const password = $("#cr-password").val()
        $.ajax({
            url: '/myprofile/validate-password',
            data: { password },
            method: "post",
            success: (response) => {
                isValid = response.isValid
                if (!response.isValid) {
                    $("#err-line").text("Password Not Valid! Enter Correct Password")
                } else {
                    $("#err-line").text("")
                }
            }
        })
    }
    function changePass() {
        console.log(isValid)
        if (isValid) {
            $.ajax({
                url: '/myprofile/change-password',
                data: $("#passwordForm").serialize(),
                method: "post",
                success: (response) => {
                    location.href ='/myaccount/myprofile'       
                }
            })
        } else {
            $("#err-line").text("Password Not Valid! Enter Correct Password")
        }
    }
</script>