{{>user/header-v4}}

<section style="background-color: #fff;">
    <div class="container-fluid py-5">
        <div class="row">
            {{>user/myprofile-menu}}
            <div class="col-lg-8 mt-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9 d-flex align-items-start justify-content-between">
                                <p class="text-muted mb-0">{{userDetails.f_name}} {{userDetails.l_name}}</p>
                                <a href="/myprofile/edit-profile">
                                    <div class="editBtn" style="
                                width: 30px;
                                height: 30px;
                                background-color: #f1f1f1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 3rem; 
                                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                            fill="currentColor" class="bi bi-pen text-dark" viewBox="0 0 16 16">
                                            <path
                                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{userDetails.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{userDetails.mobile}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            <a href="/myprofile/change-password">change password</a>
            </div>
        </div>
    </div>
</section>