<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Wear Again</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item {{#if dashboardActive}} active {{/if}}">
            <a href="/admin/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item {{#if productsActive}} active {{/if}}">
            <a href="/admin/product" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Products</div>
            </a>
        </li>
        <li class="menu-item {{#if menuActive}} active {{/if}}">
            <a href="/admin/add-product" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Add Product</div>
            </a>
        </li>
        <li class="menu-item {{#if manageUser}} active {{/if}}">
            <a href="/admin/manage-user" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Manage user</div>
            </a>
        </li>
        {{!-- <li class="menu-item {{#if manageBanner}} active {{/if}}">
            <a href="/admin/manage-banner" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Manage Banner</div>
            </a>
        </li> --}}

        <li class="menu-item {{#if manageBanner}} active {{/if}}">
            <a href="/admin/manage-orders" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Manage Orders</div>
            </a>
        </li>
        <!-- coupon -->
        <li class="menu-item" {{#if coup}} active {{/if}}>
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Coupon</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/coupon" class="menu-link">
                        <div data-i18n="Accordion">Add Coupon</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/manage-coupon" class="menu-link">
                        <div data-i18n="Alerts">Manage Coupon</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>